doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1= title
    p Welcome to #{title}
    form(method='post', enctype='multipart/form-data' , action = '/snackspop/api/files/upload')
      input(type='file', name='imageupload')
      input(type='submit', name='uploadimage', value='Upload Image')

